@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

.header {
    background: #d8d8d8;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center; 

}
.logo-phones{
	width: 50%;
	display: flex;
    align-items: center;
    justify-content: space-between; 
}
.logo{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: black;
}
.photo{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: black;
}
.logo-name-company{
	display: flex;
    align-items: center;
}
.phones{
	display: flex;
    align-items: center;
}
.phones p{
	margin: 0 10px 0 10px;
}

.social-name{
	display: flex;
    align-items: center;
}
.company-name{
	margin-left: 10px;
}
.user-name{
		margin-left: 10px;

}
/* ======================================heder-menu============================ */

.wraper{
 	height: 100px;
    display: flex;
    align-items: center;
    justify-content: center; 
    border-bottom: solid;
}
.header-menu-btn{
	width: 50%;
	display: flex;
    align-items: center;
    justify-content: space-between; 
}
.header-menu{
	display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header-menu li {
    display: inline-block;
    margin: auto;
}
.header-menu a {        
    font-size: 14px;    
    font-weight: 800;    
    margin-right: 20px;
    color: grey;
    display: block;  
    text-decoration: none;
}
.header-menu li a:hover {
	color: #5252ff;
}
.btn-call{
	margin-right: 20px;
	width: 120px;
}
a.make-a-call {
	background: none;
    border-radius: 50px;
    color: gray;    
    font-size: 14px; 
    margin: 0 auto;   
    text-decoration: none;    
    transition: all 0.3s;    
    border: 2px solid #d8d8d8;
    display: block;
    text-align: center;
    line-height: 2.5; 
}
.make-a-call:hover {
    background: black;
}

/* ======================================media================================ */

@media (max-width: 900px) {
  .header {display: none;}
}
